h1 {
  font-size: 50px;
  text-align: center;
  margin: 30px auto;
  padding: 30px;
  border: 5px solid pink;
}



#header { 
  background-color: #cc7edd;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
}

#container {
  margin: 0 auto;
}

#resetgamebutton {
  width: 100px;
  height: 200px;
  color: pink;
}

#startgamebutton {
  width: 100px;
  height: 200px;
  color: pink;
}




.title {
    font-size: 70px;
    color: blueviolet;
   
}

table {
    margin-top: 30px;
    margin-left: 500px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border: 3px solid #cc7edd;

}


td {
    width: 100px;
    height: 100px;
    background:pink;
}

